<template>
  <v-text-field type="text"
                :label="label"
                v-model="model"
                :disabled="isLoading"
                :rules="fieldRules"
                :autofocus="autofocus"
                @blur="onBlur()"
                @input="onInput()"
                @change="onChange()"
                :validate-on-blur="validateOnBlur"
  ></v-text-field>
</template>

<script>
  import _ from 'lodash';
  import {mapRules} from '../RULES';
  import {mapGetters} from 'vuex';

  export default {
    name: 'text-field',

    data() {
      return {
        model: this.value,
        validateOnBlur: true
      };
    },

    props: {
      label: {
        type: String
      },
      required: {
        type: Boolean
      },
      autofocus: {
        type: Boolean
      },
      value: {
        type: String
      }
    },

    created() {
      if (!this.required) {
        this.$emit('validity', true);
      }
    },

    methods: {
      ...mapRules([
        'isRequired'
      ]),
      validate() {
        let result = true;
        _.each(this.fieldRules, (rule) => {
          if (result === true) {
            result = rule(this.model);
          }
        });

        this.$emit('validity', (result === true));
      },
      onBlur() {
        if (!_.isEmpty(this.model)) {
          this.validateOnBlur = false;
        }

        this.validate();
        this.$emit('blur', this.model);
      },
      onChange() {
        if (!this.validateOnBlur) {
          this.validate();
        }

        this.$emit('change', this.model);
      },
      onInput() {
        if (!this.validateOnBlur) {
          this.validate();
        }

        this.$emit('input', this.model);
      }
    },

    computed: {
      ...mapGetters(['isLoading']),
      fieldRules() {
        let rules = [];
        const ruleParams = {
          vue: this,
          field: this.fieldLabel
        };

        if (this.required) {
          rules.push(this.isRequired(ruleParams));
        }

        return rules;
      }
    },

    watch: {
      value(val) {
        this.model = val;
      }
    }
  };
</script>
