<!--====================================================-->
<!-- Template -->
<!--====================================================-->

<template>
  <div>
    <v-card>
      <v-card-title primary-title>
        <div>
          <h3 class="headline mb-0">Vue Todo List 2.0</h3>
          <div>This version is a combination fo the following AWS services:</div>
        </div>
      </v-card-title>
      <v-card-text>
        <ul>
          <li>S3 (hosting the UI client and lambdas)</li>
          <li>CloudFront (caching for the UI client on S3)</li>
          <li>Route53 (DNS to point sub domains to CloudFront)</li>
          <li>API Gateway (REST pathing to Lamdba functions)</li>
          <li>Lambda (server processing for interfacing with DynamoDB)</li>
          <li>DynamoDB (data storage for the Todo List items)</li>
        </ul>
      </v-card-text>
    </v-card>

    <todo-list-list></todo-list-list>

    <v-btn
      fixed
      dark
      fab
      bottom
      right
      color="pink"
      :to="routes.TODO_LIST_CREATE.path"
      exact
    >
      <v-icon>add</v-icon>
    </v-btn>
  </div>
</template>

<!--====================================================-->
<!-- Script -->
<!--====================================================-->

<script>
  import TodoListList from '@/components/TodoListList';
  import ROUTES from '@/enum/ROUTES';

  export default {
    name: 'todo-lists',

    components: {
      TodoListList
    },

    computed: {
      routes() {
        return ROUTES;
      }
    }
  };
</script>

<!--====================================================-->
<!-- Style -->
<!--====================================================-->

<style scoped>

</style>

