<template>
  <div>
    <v-card>
      <v-card-title>{{listName}}</v-card-title>
    </v-card>

    <message-container></message-container>

    <loading-bar></loading-bar>
    <todo-list v-if="todoListItemById(route_tlid)" :todo-list-item="todoListItemById(route_tlid)"></todo-list>
  </div>
</template>

<script>
  import _ from 'lodash';
  import {mapActions, mapGetters} from 'vuex';
  import TodoList from '@/components/TodoList'
  import MessageContainer from "@/components/MessageContainer";
  import LoadingBar from "@/components/LoadingBar";

  export default {
    name: 'todo-list-view',

    components: {
      LoadingBar,
      MessageContainer,
      TodoList
    },

    created() {
      const self = this;

      if(_.isEmpty(self.route_tlid)) {
        // TODO: i18n
//        self.onLoadError('Invalid Request');
        return;
      }

      self.loadTodoList({tlid: self.route_tlid});
    },

    computed: {
      ...mapGetters([
        'todoItemsByList',
        'todoListItemById'
      ]),
      listName() {
        return _.get(this.todoListItemById(this.route_tlid), 'listName', '');
      },
      route_tlid() {
        return _.get(this.$route, ['params', 'tlid']);
      }
    },

    methods: {
      ...mapActions([
        'loadTodos',
        'loadTodoList'
      ])
    }
  }
</script>

<style scoped>
</style>
