<template>
  <v-card>
    <v-card-title>Create Todo List</v-card-title>
    <v-card-text>
      <edit-todo-list-form
        :todo-list-item="todoListItem"
        @submit="onTodoListFormSubmit($event)"
        @delete="onTodoListFormDelete($event)"></edit-todo-list-form>
    </v-card-text>
  </v-card>
</template>

<script>
  import _ from "lodash";
  import {mapActions, mapGetters} from 'vuex';
  import EditTodoListForm from "@/components/forms/EditTodoListForm";
  import ROUTES from "@/enum/ROUTES";
  import MESSAGE_TYPES from "@/enum/MESSAGE_TYPES";
  import MESSAGE_KEYS from "@/enum/MESSAGE_KEYS";

  export default {
    name: 'todo-list-edit',

    components: {
      EditTodoListForm
    },

    data() {
      return {
        todoListItem: undefined
      }
    },

    created() {
      if(this.$route.name === ROUTES.TODO_LIST_CREATE.name) {
        return;
      }

      // find the tlid and load it from the server
      const tlid = _.get(this.$route, ['params', 'tlid']);
      const self = this;

      if (_.isEmpty(tlid)) {
        // TODO: i18n
        self.onLoadError('Invalid Request');
        return;
      }

      // see if it's in the store already
      if (_.has(self.todolistItems, tlid)) {
        self.todoListItem = self.todoListItems[tlid];
      } else {
        self.loadTodoList({tlid})
          .then((todoListItem) => {
            if (_.isEmpty(todoListItem)) {
              self.onLoadError('Invalid Request');
              return;
            }

            self.todoListItem = todoListItem
          })
          .catch((error) => {
            self.onLoadError(error.message);
          });
      }
    },

    computed: {
      ...mapGetters([
        'todoListItems'
      ])
    },

    methods: {
      ...mapActions([
        'addMessage',
        'loadTodoList',
        'saveTodoList',
        'removeTodoList'
      ]),
      onLoadError(message) {
        // add 404 error message
        this.addMessage({
          type: MESSAGE_TYPES.ERROR,
          key: MESSAGE_KEYS.TODO_LISTS.GET_TODO_LIST_FAILED,
          message
        });
        // redirect back to list view
        this.$router.push({name: ROUTES.HOME.name});
      },
      onTodoListFormDelete({tlid}) {
        const self = this;
        this.removeTodoList({tlid})
          .then((todoListItem) => {
            self.$router.push({name: ROUTES.HOME.name});
          });
      },
      onTodoListFormSubmit(formData) {
        const self = this;

        self.saveTodoList({todoListItem: formData})
          .then((todoListItem) => {
            // redirect to dashboard
            self.$router.push({name: ROUTES.TODO_LIST_VIEW.name, params: {tlid: todoListItem.tlid}});
          });
      }
    }
  }
</script>

<style scoped>

</style>
