<template>
  <v-dialog v-model="showDialog" persistent>
    <v-card>
      <v-card-title>
        Add Todo
      </v-card-title>
      <v-card-text>
        <v-text-field v-model="todoName"></v-text-field>
      </v-card-text>
      <v-card-actions>
        <v-btn color="secondary" flat @click.stop="onClose()">Close</v-btn>
        <v-btn color="primary" flat @click.stop="onSave()">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import TodoItem from '../store/models/TodoItem';
  import {mapActions} from 'vuex';

  export default {
    name: 'add-todo-dialog',
    props: ['show'],
    data() {
      return {
        showDialog: this.show,
        todoName: ''
      };
    },
    methods: {
      ...mapActions(['loadTodos', 'saveTodo']),
      onSave() {
        this.$emit('save', TodoItem(TodoItem({todoName: this.todoName})));
        this.showDialog = false;
      },
      onClose() {
        this.showDialog = false;
        this.$emit('close');
      }
    },
    watch: {
      show(value) {
        if(this.showDialog !== value) {
          this.showDialog = value;
          this.todoName = '';
        }
      }
    }
  };
</script>
