<template>
  <div v-if="editable">
    <v-text-field @blur="onBlur()" v-model="value"></v-text-field>
  </div>

  <div v-else @focus="onFocus()">
    {{value}}
  </div>
</template>

<script>
  import _ from 'lodash';

  export default {
    props: ['text'],
    data() {
      return {
        editable: true,
        value: this.text
      }
    },
    methods: {
      onBlur() {
//        this.editable = false;

        if(!_.eq(this.value, this.text)) {
          this.$emit('change', this.value);
        }
      },
      onFocus() {
        this.editable = true;
        this.value = 'focused';
      }
    }
  }
</script>
