<template>
  <div class="loader">
    <v-progress-linear v-show="showLoading" :indeterminate="true"></v-progress-linear>
  </div>
</template>

<script>
  import _ from 'lodash';
  import {mapGetters} from 'vuex';

  export default {
    name: 'loading-bar',

    props: {
      loadingKey: {
        type: String
      }
    },

    computed: {
      ...mapGetters([
        'isLoading',
        'isLoadingByKey'
      ]),
      showLoading() {
        if(_.isEmpty(this.loadingKey)) {
          return this.isLoading;
        }

        return this.isLoadingByKey(this.loadingKey);
      }
    }
  }
</script>

<style lang="stylus" scoped>
  .loader {
    height: 7px;
  }
</style>
