<template>
  <div v-if="hasMessage" :class="['container', messageModel.type]">
    <div class="message">{{message}} <span v-if="showMessageDetails">({{messageModel.detail}})</span></div>
  </div>
</template>

<script>
  import _ from 'lodash';
  import {mapGetters} from 'vuex';

  export default {
    name: 'message-container',

    props: {
      messageKey: {
        type: String
      }
    },

    computed: {
      ...mapGetters([
        'topMessage',
        'getMessageByKey',
        'showMessageDetails'
      ]),
      hasMessage() {
        return !_.isEmpty(this.messageModel);
      },
      messageModel() {
        let messageModel = null;

        if(!_.isEmpty(this.messageKey)) {
          messageModel = this.getMessageByKey(this.messageKey);
        } else {
          messageModel = this.topMessage;
        }

        return messageModel || {};
      },
      message() {
        if(_.get(this.messageModel, 'localeKey')) {
          return this.$t(this.messageModel.localeKey);
        }

        return _.get(this.messageModel, 'message');
      }
    }
  }
</script>

<style lang="stylus" scoped>
  .container {
    border: 1px solid #333333;
    background-color: #7f7f7f;
    border-radius: 4px;

    &.ERROR {
      border-color: #660000;
      background-color: #880000;
      color: white;
    }
  }
</style>
