<template>
  <div>
    <v-data-table
      v-model="selected"
      :items="todoItemsByList(todoListItem.tlid)"
      item-key="tid"
      selected-key="tid"
      no-data-text="Add a new Todo!"
      hide-headers
      hide-actions
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <tr :active="props.selected" @click="props.selected = !props.selected" :key="props.item.tid">
          <td>
            <v-checkbox
              primary
              hide-details
              :input-value="props.item.todoCompleted"
              @change="onComplete(props.item)"
            ></v-checkbox>
          </td>
          <td>
            <editable-label :text="props.item.todoName" @change="onNameChange(props.item, $event)"></editable-label>
          </td>
          <td>
            <v-btn icon @click.stop="onDelete(props.item)">
              <v-icon>delete</v-icon>
            </v-btn>
          </td>
        </tr>
      </template>
    </v-data-table>

    <v-btn
      fixed
      dark
      fab
      bottom
      right
      color="pink"
      @click.stop="onAddClick()"
    >
      <v-icon>add</v-icon>
    </v-btn>

    <add-todo-dialog
      :show="showDialog"
      @close="showDialog = false"
      @save="onSave($event)"></add-todo-dialog>
  </div>
</template>

<script>
  import _ from 'lodash';
  import {mapActions, mapGetters} from 'vuex';
  import EditableLabel from '@/components/EditableLabel';
  import AddTodoDialog from './AddTodoDialog.vue';

  export default {
    name: 'todo-list',

    components: {
      AddTodoDialog,
      EditableLabel
    },

    props: {
      todoListItem: {
        type: Object
      }
    },

    data() {
      return {
        selected: [],
        showDialog: false
      };
    },

    created() {
      this.loadTodos({tlid: this.todoListItem.tlid});
    },

    computed: {
      ...mapGetters([
        'todoItemsByList',
        'todoListItemById'
      ])
    },

    methods: {
      ...mapActions([
        'removeTodo',
        'loadTodos',
        'saveTodo'
      ]),
      onComplete(todoItem) {
        todoItem.todoCompleted = !todoItem.todoCompleted;

        this.saveTodo({todoItem});
      },
      onDelete(todoItem) {
        this.removeTodo({tid: todoItem.tid});
      },
      onNameChange(todoItem, newName) {
        todoItem.todoName = newName;

        this.saveTodo({todoItem});
      },
      onAddClick() {
        this.showDialog = true;
      },
      onSave(todoItem) {
        this.showDialog = false;
        todoItem.tlid = this.todoListItem.tlid;

        this.saveTodo({todoItem});
      }
    }
  };
</script>

<style scoped>

</style>
