<template>
  <div>
    <loading-bar></loading-bar>
    <message-container></message-container>
    <v-list>
      <v-list-tile v-for="item in todoListItems" :key="item.tlid">
        <v-list-tile-content>
          <router-link :to="`/${item.listUrl || item.tlid}`">{{item.listName}}</router-link>
        </v-list-tile-content>

        <v-list-tile-action>
          <v-layout row nowrap class="action-width text-xs-right">
            <v-flex xs6>
              <v-btn icon
                     @click.stop="onEdit(item.tlid)">
                <v-icon>edit</v-icon>
              </v-btn>
            </v-flex>
            <v-flex xs6>
              <v-btn icon
                     @click.stop="onDelete(item.tlid)">
                <v-icon>delete</v-icon>
              </v-btn>
            </v-flex>
          </v-layout>
        </v-list-tile-action>
      </v-list-tile>
    </v-list>
  </div>
</template>

<script>
  import _ from 'lodash';
  import {mapActions, mapGetters} from 'vuex';
  import LoadingBar from "@/components/LoadingBar";
  import MessageContainer from "@/components/MessageContainer.vue";
  import ROUTES from "@/enum/ROUTES";

  export default {
    name: 'todo-list-list',
    components: {
      MessageContainer,
      LoadingBar},
    data() {
      return {};
    },
    created() {
      this.loadTodoLists();
    },
    computed: {
      ...mapGetters([
        'todoListItems'
      ])
    },
    methods: {
      ...mapActions([
        'loadTodoLists',
        'removeTodoList'
      ]),
      onDelete(tlid) {
        if(!_.isEmpty(tlid)) {
          this.removeTodoList({tlid});
        }
      },
      onEdit(tlid) {
        this.$router.push({name: ROUTES.TODO_LIST_EDIT.name, params: { tlid }});
      }
    }
  };
</script>

<style scoped>
  .action-width {
    width: 72px;
  }
</style>
