<template>
  <v-app light>
    <v-toolbar fixed app>
      <v-toolbar-title>Todo List</v-toolbar-title>
    </v-toolbar>
    <main>
      <v-content>
        <v-container fluid>
          <v-slide-y-transition mode="out-in">
            <v-layout column align-center>
              <div class="full-width">
                <router-view></router-view>
              </div>
            </v-layout>
          </v-slide-y-transition>
        </v-container>
      </v-content>
    </main>
    <v-footer fixed app>
      <span>&copy; 2017</span>
    </v-footer>
  </v-app>
</template>

<script>

</script>

<style lang="stylus">
  @import './stylus/main'

  .full-width {
    width: 100%;
  }
</style>
