<template>
  <form @submit.stop="submit()">
    <text-field ref="listNameField"
                v-model="fields.listName.value"
                :label="$t('fields.listName.label')"
                required
                autofocus
                @validity="fields.listName.isValid = $event"></text-field>

    <!-- TODO: URL save field -->
    <text-field ref="listUrlField"
                v-model="fields.listUrl.value"
                :label="$t('fields.listUrl.label')"
                @validity="fields.listUrl.isValid = $event"></text-field>

    <v-btn color="primary"
           @click.stop="submit()"
           :disabled="isLoading">{{$t('actions.save.label')}}
    </v-btn>

    <v-btn color="secondary"
           @click.stop="onDelete()"
           :disabled="isLoading">{{$t('actions.delete.label')}}
    </v-btn>
  </form>
</template>

<script>
  import _ from 'lodash';
  import {mapGetters} from 'vuex';
  import TextField from "@/components/forms/fields/TextField.vue";

  export default {
    name: 'edit-todo-list-form',

    components: {
      TextField
    },

    props: {
      todoListItem: {
        type: Object
      }
    },

    data() {
      return {
        fields: {
          listName: {
            value: _.get(this.todoListItem, 'listName'),
            isValid: false
          },
          listUrl: {
            value: _.get(this.todoListItem, 'listUrl'),
            isValid: false
          }
        }
      };
    },

    computed: {
      ...mapGetters(['isLoading']),
      isValid() {
        let result = true;

        _.map(this.fields, (field) => {
          if(result) {
            result = field.isValid;
          }
        });

        return result;
      }
    },

    watch: {
      todoListItem(val, oldVal) {
        this.fields.listName.value = val.listName;
        this.fields.listUrl.value = val.listUrl;
      }
    },

    methods: {
      onDelete() {
        this.$emit('delete', {
          tlid: _.get(this, ['todoListItem', 'tlid'])
        });
      },
      submit() {
        if (this.isValid) {
          this.$emit('submit', {
            tlid: _.get(this, ['todoListItem', 'tlid']),
            listName: this.fields.listName.value,
            listUrl: this.fields.listUrl.value
          });
        }
      }
    }
  };
</script>

<style lang="stylus">

</style>
